aiohttp==3.6.2
alembic==1.4.2
amqp==2.6.0
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.3.0
BentoML==0.8.3
billiard==3.6.3.0
boto3==1.14.25
botocore==1.17.25
celery==4.4.6
Cerberus==1.3.2
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
configparser==5.0.0
confusable-homoglyphs==3.2.0
contextvars==2.4
cycler==0.10.0
Django==3.0.7
django-cleanup==5.0.0
django-pb-model==0.1.10
django-registration==3.1
django-rest-framework==0.1.0
djangorestframework==3.11.0
docker==4.2.2
docutils==0.15.2
Flask==1.1.2
future==0.18.2
grpcio==1.27.2
gunicorn==20.0.4
humanfriendly==8.2
idna==2.10
idna-ssl==1.1.0
immutables==0.14
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
kiwisolver==1.2.0
kombu==4.6.11
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.0
multidict==4.7.6
numpy==1.19.1
packaging==20.4
pandas==1.0.5
Pillow==7.2.0
pkg-resources==0.0.0
ply==3.11
prometheus-client==0.8.0
protobuf==3.12.2
psutil==5.7.2
py-zipkin==0.20.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.0
python-editor==1.0.4
python-json-logger==0.1.11
pytz==2020.1
redis==3.5.3
requests==2.24.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
six==1.15.0
SQLAlchemy==1.3.18
SQLAlchemy-Utils==0.36.8
sqlparse==0.3.1
tabulate==0.8.7
threadpoolctl==2.1.0
thriftpy2==0.4.11
typing-extensions==3.7.4.2
urllib3==1.25.10
vine==1.3.0
websocket-client==0.57.0
Werkzeug==1.0.1
WhiteNoise==5.2.0
yarl==1.4.2
zipp==3.1.0
